---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-grow gap-x-4 pb-10">
				Hey! Cristian Davila <span>Here</span>
				<div class="flex justify-center items-center">
					<Badge>Working</Badge>
				</div>
			</h1>
			<h2 class="text-xl">
				A passionate software developer who always thrives to work on end to end
				products which develop sustainable and scalable social and technical
				systems to create impact.
			</h2>
		</section>
	</main>
</Layout>
