---
import ExperienceItem from "./ExperienceItem.astro";

import { geti18n } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    i18n.EXPERIENCE_DATA.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
