<footer
  class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 SS xl:w-[1120px] px-4 mx-auto"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2023. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a
          href="#"
          class="hover:underline me-4 md:me-6"
          title="Go to Home Section">Home</a
        >
      </li>
      <li>
        <a
          href="#experience"
          class="hover:underline me-4 md:me-6"
          title="Go to Experience Section">Experience</a
        >
      </li>
      <!-- <li>
        <a href="#" class="hover:underline me-4 md:me-6">Projects</a>
      </li> -->
      <li>
        <a href="#" class="hover:underline" title="Go to Contact Section"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
