---
import ThemeToogle from "@components/ThemeToogle.astro";
---

<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-4"
>
  <img
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/7496040?s=96&v=4"
    alt="Cristian Davila Photo"
  />
  <nav>
    <ul class="flex flex-row gap-x-10 opacity-80 display-none sm:flex">
      <li>
        <a href="#top" title="Go to Home">Home</a>
      </li>
      <li>
        <a href="#experience" title="Go to Experience Section">Experience</a>
      </li>
      <li>
        <a href="#contact" title="Go to Contact Section">Contact</a>
      </li>
      <li>
        <ThemeToogle />
      </li>
    </ul>
  </nav>
</header>
