---
import ThemeToogle from "@components/ThemeToogle.astro";
import LanguageSelector from "@components/LanguageSelector.astro";
import { geti18n } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<header
  id="header-nav"
  class="flex fixed z-50 top-0 justify-between items-center py-5 w-full mx-auto px-4"
>
  <div class="w-full mx-auto max-w-screen-xl items-center justify-between flex">
    <img
      class="rounded-full w-10 h-10 lg:w-12 lg:h-12"
      src="https://avatars.githubusercontent.com/u/7496040?s=96&v=4"
      alt="Cristian Davila"
    />
    <nav>
      <ul
        class="flex flex-row gap-x-4 md:gap-6 opacity-80 display-none sm:flex"
      >
        <li class="flex items-center">
          <a class="text-md md:text-base" href="#top" title="Go to Home"
            >{i18n.MENU.HOME}</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="text-md md:text-base"
            href="#experience"
            title="Go to Experience Section">{i18n.MENU.EXPERIENCE}</a
          >
        </li>
        <li class="flex items-center">
          <ThemeToogle />
        </li>
        <li>
          <LanguageSelector />
        </li>
      </ul>
    </nav>
  </div>
</header>
