---
interface Props {
  endpoint: string;
  name: string;
}
const { endpoint, name } = Astro.props;
---

<a href={endpoint}>
  <div
    class="dropdown-option p-1.5 cursor-pointer hover:bg-purple-200/60 dark:hover:bg-slate-200 dark:hover:text-black"
  >
    {name}
  </div>
</a>
