---
import LanguageOption from "@components/LanguageOption.astro";
---

<div class="custom-dropdown relative">
  <div
    id="selectedLanguage"
    class="cursor-pointer background-transparent border border-current flex items-center p-2 rounded-lg text-sm"
  >
    English
    <svg
      class="w-2.5 h-2.5 ms-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"></path>
    </svg>
  </div>
  <div class="dropdown-options">
    <LanguageOption name="English" endpoint="/" />
    <LanguageOption name="Español" endpoint="/es" />
  </div>
</div>

<style>
  .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
  }

  .dropdown-option {
    transition: background-color 0.3s;
  }

  /* Mostrar las opciones al hacer hover sobre el dropdown */
  .custom-dropdown:hover .dropdown-options {
    display: block;
    color:;
  }
</style>
